<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Enter the Meal Details</h3>
  </div>
  <div class="panel-body">
    
    <form name="myForm" class="form-horizontal" novalidate>

        <div class="form-group">
          <label class="col-sm-6 control-label">Enter Meal Price: $</label>
          <div class="col-sm-6">
            <input class="form-control" type="number" ng-model="mealPrice">
          </div>                
        </div>

        <div class="form-group">
          <label class="col-sm-6 control-label">Tax Rate: %</label>
           <div class="col-sm-6">
            <input class="form-control" type="number" ng-model="tax">
          </div>  
        </div>

        <div class="form-group">
          <label class="col-sm-6 control-label">Tip Percentage: %</label>
           <div class="col-sm-6">
            <input class="form-control" type="number" ng-model="tip">
          </div>  
        </div>
        <br>

        <div class="form-group">
          <div class="col-sm-offset-6 col-sm-3">
            <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
          </div>
        </div>

    </form>

  </div>
</div> 

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Customer Charges</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <h5>Subtotal ($):</h5>
      <h5>Tip      ($): </h5>
      <h5>Total    ($): </h5>
    </div>

    <div class="col-sm-6" ng-show="Data.success">
      <h5> {{Data.mealList[getMealCount()-1].subTotal}}</h5>
      <h5> {{Data.mealList[getMealCount()-1].tipAmount}} </h5>
      <h5> {{Data.mealList[getMealCount()-1].total}} </h5>
    </div>

  </div>
</div> 